<div class='row'>
  <div class='col-12 mb-3'>
    <h2 class="text-center">Testimonials</h2>
  </div>
    <div class='col-12 col-md-6 col-lg-4'>
        <blockquote>Testimonial details here for others to see. Testimonial details here for others to see. Testimonial details here for others to see. Testimonial details here for others to see.</blockquote>
    </div>
    <div class='col-12 col-md-6 col-lg-4'>
        <blockquote>Testimonial details here for others to see. Testimonial details here for others to see. Testimonial details here for others to see.</blockquote>
    </div>
    <div class='col-12 col-md-6 col-lg-4'>
        <blockquote>Testimonial details here for others to see. Testimonial details here for others to see. Testimonial details here for others to see. Testimonial details here for others to see.</blockquote>
    </div>
</div>
