<div class='row justify-content-center align-content-end'>
  <div class='col-12 col-md-6 mt-5 text-center'>
    <h2>Heritage Flyers</h2>
    <p><b>April 22, 2019 9am - 4pm Placerville, CA</b></p>
    </div>
</div>