<div class='row'>
  <div class='col-12'>
    <h2 class="text-center">Truly <b>Experience</b> History</h2>
  </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-329.000000, -228.000000)" stroke-width="2">
                    <g id="stamp-icon" transform="translate(330.000000, 229.000000)">
                        <circle id="Oval-" stroke="#D1B471" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g id="stamp" transform="translate(29.538462, 26.584615)" stroke="#4B4B4B">
                            <circle id="Oval-146" cx="18.4615385" cy="13.2923077" r="13.2923077"></circle>
                            <circle id="Oval-146" cx="18.4615385" cy="13.2923077" r="7.38461538"></circle>
                            <path d="M8.12307692,22.1538462 L0,39.6755245 L6.64615385,37.6615385 L9.6,43.5692308 L16.6213928,26.717888" id="Path-1026" stroke-linejoin="round"></path>
                            <path d="M28.1153493,22.1538462 L19.9922724,39.6755245 L26.6384263,37.6615385 L29.5922724,43.5692308 L36.6136652,26.717888" id="Path-1026" stroke-linejoin="round" transform="translate(28.302969, 32.861538) scale(-1, 1) translate(-28.302969, -32.861538) "></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>Open to older <b>Pilots &amp; Veterans</b>, who no longer able to fly</p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-671.000000, -228.000000)" stroke-width="2">
                    <g id="cup-icon" transform="translate(672.000000, 229.000000)">
                        <circle id="Oval-1" stroke="#D1B471" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g id="cup" transform="translate(28.000000, 26.000000)" stroke="#4B4B4B">
                            <polygon id="Star-5" stroke-linejoin="round" points="20 15.6521739 15.9110591 17.8018574 16.6919773 13.2487548 13.3839547 10.0242296 17.9555296 9.35994089 20 5.2173913 22.0444704 9.35994089 26.6160453 10.0242296 23.3080227 13.2487548 24.0889409 17.8018574"></polygon>
                            <polygon id="Polygon-1" stroke-linecap="round" stroke-linejoin="round" points="34.7826087 0 29.1361546 27.826087 10.8638454 27.826087 5.2173913 4.2105424e-15"></polygon>
                            <polygon id="Polygon-1" stroke-linecap="round" stroke-linejoin="round" transform="translate(20.000000, 42.608696) rotate(-180.000000) translate(-20.000000, -42.608696) " points="29.5652174 38.2608696 25.9116295 46.9565217 14.0883705 46.9565217 10.4347826 38.2608696"></polygon>
                            <rect id="Rectangle-779" x="16.6521739" y="27.9565217" width="6.69565217" height="10.173913"></rect>
                            <path d="M17.3913043,42.6086957 L22.6086957,42.6086957" id="Path-1022" stroke-linecap="round"></path>
                            <path d="M6.08695652,5.2173913 C4.34782609,5.21739133 1.73913044,5.21739131 0.869565217,7.82608696 C-0.261907855,11.2205062 2.6086956,13.9130435 3.47826082,14.7826087 C4.34782604,15.6521739 8.69678217,19.1304348 8.69678217,19.1304348" id="Path-1023" stroke-linecap="round"></path>
                            <path d="M36.5217391,5.2173913 C34.7826087,5.21739133 32.173913,5.21739131 31.3043478,7.82608696 C30.1728748,11.2205062 33.0434782,13.9130435 33.9130434,14.7826087 C34.7826087,15.6521739 39.1315648,19.1304348 39.1315648,19.1304348" id="Path-1023" stroke-linecap="round" transform="translate(35.087786, 12.173913) scale(-1, 1) translate(-35.087786, -12.173913) "></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>Beautiful Award Winning Aircraft</p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-1013.000000, -228.000000)">
                    <g id="wallet-icon" transform="translate(1014.000000, 229.000000)">
                        <circle id="Oval-1-Copy-3" stroke="#D1B471" stroke-width="2" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g id="Wallet" transform="translate(24.000000, 22.800000)">
                            <path d="M44.0473532,47.3180936 L4.90488511,47.3180936 C2.7408,47.3180936 0.987268085,45.5635404 0.987268085,43.3994553 L0.987268085,14.4707745 C0.987268085,12.3066894 2.7408,10.5521362 4.90488511,10.5521362 L44.0473532,10.5521362 C46.2114383,10.5521362 47.9659915,12.3066894 47.9659915,14.4707745 L47.9659915,43.3994553 C47.9659915,45.5635404 46.2114383,47.3180936 44.0473532,47.3180936 L44.0473532,47.3180936 Z" id="Stroke-1" stroke="#4B4B4B" stroke-width="2"></path>
                            <path d="M37.7529191,35.0627745 L47.9656851,35.0627745 L47.9656851,22.8074553 L37.7529191,22.8074553 C35.4969191,22.8074553 33.6678128,24.6365617 33.6678128,26.8925617 L33.6678128,30.9776681 C33.6678128,33.2336681 35.4969191,35.0627745 37.7529191,35.0627745 L37.7529191,35.0627745 Z" id="Stroke-3" stroke="#4B4B4B" stroke-width="2"></path>
                            <path d="M41.8380255,28.9351149 C41.8380255,30.0636255 40.923983,30.9776681 39.7954723,30.9776681 C38.6669617,30.9776681 37.7529191,30.0636255 37.7529191,28.9351149 C37.7529191,27.8066043 38.6669617,26.8925617 39.7954723,26.8925617 C40.923983,26.8925617 41.8380255,27.8066043 41.8380255,28.9351149 L41.8380255,28.9351149 Z" id="fill" fill="#4B4B4B"></path>
                            <polyline id="Stroke-7" stroke="#4B4B4B" stroke-width="2" points="21.4124936 10.5521362 35.710366 0.339370213 41.8380255 10.5521362"></polyline>
                            <polyline id="Stroke-9" stroke="#4B4B4B" stroke-width="2" points="11.1997277 10.5521362 21.4124936 0.339370213 27.5401532 6.46702979"></polyline>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>This is a <b>FREE</b> event</p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-329.000000, -475.000000)" stroke-width="2">
                    <g id="plane-icon" transform="translate(330.000000, 476.000000)">
                        <path d="M48,96 C74.509668,96 96,74.509668 96,48 C96,21.490332 74.509668,0 48,0 C21.490332,0 0,21.490332 0,48 C0,74.509668 21.490332,96 48,96 Z" id="oval" stroke="#D1B471" fill="#FFFFFF"></path>
                        <g id="Plane" transform="translate(24.000000, 25.200000)" stroke="#4B4B4B">
                            <path d="M43.7836167,41.9745852 C43.9378295,42.5771384 43.7611486,43.2246278 43.3209784,43.664798 L41.4448933,45.5439469 C41.3162125,45.6726278 41.1282976,45.7328831 40.9536593,45.710415 C40.7728933,45.6859043 40.6156167,45.5796916 40.5247231,45.4213937 L28.6768933,24.6629256 L27.5187657,24.4668405 L14.1849784,36.1063299 L15.8557869,43.2522022 C16.0008082,43.8751809 15.8179997,44.5175639 15.3665954,44.9699895 L14.1349359,46.201649 C14.0011486,46.3364575 13.8132337,46.3926278 13.6232763,46.3538192 C13.437404,46.316032 13.2842125,46.1883724 13.2137444,46.0106703 L10.4573189,39.1150107 L7.25459545,35.9337341 L0.310935875,33.152798 C0.155701832,33.0905001 0.0443826831,32.9556916 0.0106805554,32.7902448 C-0.0240428488,32.6268405 0.027020981,32.4583299 0.147531619,32.3378192 L1.43536141,31.0489682 C1.79076566,30.6915214 2.26259545,30.4985001 2.75076566,30.4985001 C2.89374439,30.4985001 3.03876566,30.5158618 3.18174439,30.5495639 L10.3010635,32.2183299 L21.9282976,18.8671809 L21.7322125,17.7100746 L0.880808215,5.78156392 C0.749063534,5.70598945 0.662255024,5.5773086 0.641829492,5.42615967 C0.622425236,5.27909584 0.673489066,5.12896818 0.778680555,5.02275541 L2.71502098,3.08437243 C3.17765928,2.62173413 3.85885077,2.43586179 4.48897843,2.59824477 L31.3138295,9.47347882 L38.7773189,2.00181924 C39.5228508,1.25424477 40.5155316,0.842670305 41.5705103,0.842670305 C42.6111912,0.842670305 43.629404,1.26547882 44.3657444,2.00284052 C45.1010635,2.73918094 45.523872,3.75943626 45.523872,4.80113839 C45.523872,5.84284052 45.1010635,6.86207456 44.3647231,7.59943626 L36.9032763,15.0700746 L43.7836167,41.9745852 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>Enjoy the <b>Joy of Flight</b></p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-671.000000, -475.000000)" stroke-width="2">
                    <g id="case-icon" transform="translate(672.000000, 476.000000)">
                        <circle id="Oval" stroke="#D1B471" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g id="Case" transform="translate(24.000000, 22.800000)" stroke="#4B4B4B">
                            <path d="M42.8217667,46.7735633 L5.46666667,46.7735633 C2.4477,46.7735633 0,44.3157188 0,41.28424 L0,13.3806373 C0,10.3491585 2.4477,7.89131395 5.46666667,7.89131395 L42.8217667,7.89131395 C45.8407333,7.89131395 48.2884333,10.3491585 48.2884333,13.3806373 L48.2884333,41.28424 C48.2884333,44.3157188 45.8407333,46.7735633 42.8217667,46.7735633 L42.8217667,46.7735633 Z" id="Stroke-1"></path>
                            <path d="M0.910746667,23.3296241 L47.3774133,23.3296241" id="Stroke-3"></path>
                            <polyline id="Stroke-5" points="18.6774133 23.3296241 18.6774133 46.6592481 13.2107467 46.6592481 13.2107467 23.3296241"></polyline>
                            <path d="M29.6107467,46.6592481 L29.6107467,23.3296241" id="Stroke-7"></path>
                            <path d="M35.0774133,23.3296241 L35.0774133,46.6592481" id="Stroke-9"></path>
                            <path d="M17.3107467,6.86165414 C17.3107467,6.86165414 16.96908,0 24.14408,0 C30.86398,0 30.9774133,6.86165414 30.9774133,6.86165414" id="Stroke-11"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>No Baggage Check</p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-1013.000000, -475.000000)" stroke-width="2">
                    <g id="sertificate" transform="translate(1014.000000, 476.000000)">
                        <circle id="Oval-1" stroke="#D1B471" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g transform="translate(22.000000, 28.000000)" stroke="#4B4B4B">
                            <g id="stamp" transform="translate(21.460317, 12.380952)">
                                <ellipse id="Oval-146" cx="13.018179" cy="9.44409715" rx="9.3730889" ry="9.44409715"></ellipse>
                                <ellipse id="Oval-146" cx="13.018179" cy="9.44409715" rx="5.20727161" ry="5.24672064"></ellipse>
                                <path d="M5.72799877,15.7401619 L0,28.1891991 L4.68654445,26.7582752 L6.76945309,30.9556518 C6.76945309,30.9556518 10.0702162,22.9738063 11.7205978,18.9828836" id="Path-1026" stroke-linejoin="round"></path>
                                <path d="M19.8255769,15.7401619 L14.0975782,28.1891991 L18.7841226,26.7582752 L20.8670313,30.9556518 L25.818176,18.9828836" id="Path-1026" stroke-linejoin="round" transform="translate(19.957877, 23.347907) scale(-1, 1) translate(-19.957877, -23.347907) "></path>
                            </g>
                            <path d="M22.2857143,37.968254 L4.00997765,37.968254 C1.79532815,37.968254 1.09791642e-16,36.1752204 2.44409279e-16,33.9767475 L2.08047576e-15,3.99150643 C2.21545927e-15,1.7870583 1.79788878,0 4.00563415,0 L26.4126984,0 L47.1846062,0 C49.3918967,0 51.1812592,1.7930336 51.1812592,3.99150649 L51.1812592,33.9767481 C51.1812592,36.1811962 49.390933,37.9682546 47.1783744,37.9682546 L46.2222222,37.9682546" id="Path-1020"></path>
                            <path d="M7.42857143,25.5873016 L17.3333333,25.5873016" id="Path-1019" stroke-linecap="round"></path>
                            <path d="M7.42857143,28.8888889 L17.3333333,28.8888889" id="Path-1019" stroke-linecap="round"></path>
                            <path d="M30.5396825,37.968254 L37.968254,37.968254" id="Path-1019" stroke-linecap="round"></path>
                            <rect id="Rectangle-780" stroke-linejoin="round" x="7.42857143" y="7.42857143" width="9.9047619" height="9.9047619"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>Memories and Stories to <b>Share</b></p>
      </div>
    </div>
</div>
