<div class='row'>
  <div class='col-12'>
    <h2 class="text-center">Testimonials</h2>
  </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-329.000000, -228.000000)" stroke-width="2">
                    <g id="stamp-icon" transform="translate(330.000000, 229.000000)">
                        <circle id="Oval-" stroke="#D1B471" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g id="stamp" transform="translate(29.538462, 26.584615)" stroke="#4B4B4B">
                            <circle id="Oval-146" cx="18.4615385" cy="13.2923077" r="13.2923077"></circle>
                            <circle id="Oval-146" cx="18.4615385" cy="13.2923077" r="7.38461538"></circle>
                            <path d="M8.12307692,22.1538462 L0,39.6755245 L6.64615385,37.6615385 L9.6,43.5692308 L16.6213928,26.717888" id="Path-1026" stroke-linejoin="round"></path>
                            <path d="M28.1153493,22.1538462 L19.9922724,39.6755245 L26.6384263,37.6615385 L29.5922724,43.5692308 L36.6136652,26.717888" id="Path-1026" stroke-linejoin="round" transform="translate(28.302969, 32.861538) scale(-1, 1) translate(-28.302969, -32.861538) "></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>Open to older <b>Pilots &amp; Veterans</b>, who no longer able to fly</p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <svg width="98px" height="98px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Advantages-#1" transform="translate(-671.000000, -228.000000)" stroke-width="2">
                    <g id="cup-icon" transform="translate(672.000000, 229.000000)">
                        <circle id="Oval-1" stroke="#D1B471" fill="#FFFFFF" cx="48" cy="48" r="48"></circle>
                        <g id="cup" transform="translate(28.000000, 26.000000)" stroke="#4B4B4B">
                            <polygon id="Star-5" stroke-linejoin="round" points="20 15.6521739 15.9110591 17.8018574 16.6919773 13.2487548 13.3839547 10.0242296 17.9555296 9.35994089 20 5.2173913 22.0444704 9.35994089 26.6160453 10.0242296 23.3080227 13.2487548 24.0889409 17.8018574"></polygon>
                            <polygon id="Polygon-1" stroke-linecap="round" stroke-linejoin="round" points="34.7826087 0 29.1361546 27.826087 10.8638454 27.826087 5.2173913 4.2105424e-15"></polygon>
                            <polygon id="Polygon-1" stroke-linecap="round" stroke-linejoin="round" transform="translate(20.000000, 42.608696) rotate(-180.000000) translate(-20.000000, -42.608696) " points="29.5652174 38.2608696 25.9116295 46.9565217 14.0883705 46.9565217 10.4347826 38.2608696"></polygon>
                            <rect id="Rectangle-779" x="16.6521739" y="27.9565217" width="6.69565217" height="10.173913"></rect>
                            <path d="M17.3913043,42.6086957 L22.6086957,42.6086957" id="Path-1022" stroke-linecap="round"></path>
                            <path d="M6.08695652,5.2173913 C4.34782609,5.21739133 1.73913044,5.21739131 0.869565217,7.82608696 C-0.261907855,11.2205062 2.6086956,13.9130435 3.47826082,14.7826087 C4.34782604,15.6521739 8.69678217,19.1304348 8.69678217,19.1304348" id="Path-1023" stroke-linecap="round"></path>
                            <path d="M36.5217391,5.2173913 C34.7826087,5.21739133 32.173913,5.21739131 31.3043478,7.82608696 C30.1728748,11.2205062 33.0434782,13.9130435 33.9130434,14.7826087 C34.7826087,15.6521739 39.1315648,19.1304348 39.1315648,19.1304348" id="Path-1023" stroke-linecap="round" transform="translate(35.087786, 12.173913) scale(-1, 1) translate(-35.087786, -12.173913) "></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p>Beautiful Award Winning Aircraft</p>
      </div>
    </div>

</div>
