<div class='row justify-content-center align-content-center'>
  <div class='col-12 col-md-6 mb-5 text-center'>
    <h2 class="text-center mb-3"><b>Get Ready</b></h2>
    <p>If you or you have someone you’d like us to consider for a flight, please contact us with your questions and to Reserve a space for our April 22 event.</p>
<p class="lead"><b>+1 (530) 350-6939</b></p>
<small>or  HeritageFlyers@gmail.com</small>
    </div>
</div>