{{#page-section sectionId='contact' class="animated fadeIn contact py-3 pt-md-5"}}
  {{contact-us}}
{{/page-section}}

<footer>
    <div class='container-fluid'>
    <div class='row'>
      <div class='copyright col-12'>
        ©2018 Heritage Flyers LLC. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>