<div class='row justify-content-center align-content-end'>
  <div class='hero-body col-12 col-md-6 mt-3 text-center'>
    <h1 class="hero">Come Fly With Us</h1>
    <p class="subhead">April 22, 2019 9am - 4pm Placerville, CA</p>
  </div>
</div>
