    <section class="hero-splash">
      <div class="hero-wrapper" style="">
        <div class='overlay '>
          <div class="container-fluid">
            <div class="row">
              <div class="hero-col">
                <div class="hero-block">
                  <div class="hero-text">
                      <p class="blurb">

                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>