<div class='row no-gutters'>
  <div class='col-12 mb-5'>
    <h2 class="text-center">Experience <b>Heritage</b> Flight</h2>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="gallery-image img-1"></div>
    </div>
    <div class='col-12 col-sm-6 col-md-8'>
      <div class="gallery-image img-2"></div>
    </div>
      <div class='col-12 col-sm-6 col-md-8'>
      <div class="gallery-image img-3"></div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="gallery-image img-4"></div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="gallery-image img-5"></div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="gallery-image img-6"></div>
    </div>
      <div class='col-12 col-sm-6 col-md-4'>
      <div class="gallery-image img-7"></div>
    </div>
</div>
