<div class='row'>
  <div class='col-12'>
    <h2 class="text-center">Experience <b>Heritage</b> Flight</h2>
  </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <p>Open to older <b>Pilots &amp; Veterans</b>, who no longer able to fly</p>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-md-4'>
      <div class="text-center m-5">
        <p>Beautiful Award Winning Aircraft</p>
      </div>
    </div>
</div>
