<div class="container-fluid">
  <div class="row">
    <div class="site-info col-12 col-md-3 col-lg-3">
      {{#link-to "index" class="d-flex flex-row"}}
        <img class='logo' src='/img/logo.svg' />
      {{/link-to}}
    </div>
    <nav class="main col">
      <ul class='nav nav-justify justify-content-center justify-content-md-end'>
        <li class='nav-item'>
          {{#scroll-to class="nav-link" href='#features'}}Features{{/scroll-to}}
        </li>
        <li class='nav-item'>
          {{#scroll-to class="nav-link" href='#testimonials'}}Testimonials{{/scroll-to}}
        </li>
        <li class='nav-item'>
          {{#scroll-to class="nav-link" href='#mission'}}Mission{{/scroll-to}}
        </li>
        <li class='nav-item'>
          {{#scroll-to class="nav-link" href='#contact'}}Contact{{/scroll-to}}
        </li>
      </ul>
    </nav>
  </div>
</div>
{{yield}}
