<div class="container-fluid">
  <div class="row">
    <div class="site-info col-12 col-md-3 col-lg-3">
      {{#link-to "index" class="home d-flex justify-content-center justify-content-md-start"}}
        <img class='logo' src='/img/logo.svg' />
      {{/link-to}}
    </div>
    <nav class="main col">
      <ul class='nav nav-justify justify-content-center justify-content-md-end'>
        <li class='nav-item'>
          {{#link-to "mission" class="nav-link" }}Mission{{/link-to}}
        </li>
        <li class='nav-item'>
          {{#link-to "gallery" class="nav-link"}}Gallery{{/link-to}}
        </li>
        <li class='nav-item'>
          {{#link-to "testimonials" class="nav-link"}}Testimonials{{/link-to}}
        </li>
        <li class='nav-item'>
          {{#link-to "help-us" class="nav-link"}}Help Us{{/link-to}}
        </li>
        <li class='nav-item'>
          {{#scroll-to class="nav-link" href='#contact'}}Contact{{/scroll-to}}
        </li>
      </ul>
    </nav>
  </div>
</div>
{{yield}}
