<div class='row'>
  <div class='col-12'>
    <h2 class="text-center">Mission Statement</h2>
  </div>
    <div class='col-12 col-md-6'>
      <div class="mt-3 my-md-3 ml-lg-5">
        <p>I guess you could say that aviation has always been in my blood. I just didn’t know it!</p>
        <p>My grandfather H.B. Tyler started flying in 1932, right in the middle of the Great Depression. Opportunities to fly did not come easy at that time in history, but some of the pilots at the local airport took him under their wing. Most of his earliest logbook entries show training flights of 20 minutes or less, so you can image how financially tight things were. With persistence and support of the local pilots, he got his license and went on to fly commercially, often ferrying just one passenger across long distances. During WWII he spent time training military pilots in Stearman biplanes and ferrying military aircraft to needed destinations all over the world. After the war he flew commercially for many companies, including Japan Airlines. His last logbook entries were training flights for students right here at the Placerville Airport.</p>
        <p>By the time I was old enough to show any interest, he had quit flying, so I was never exposed to “the bug”. It wasn’t until just a couple of years ago that I got bit!</p>
        <p>My first flight in a small aircraft was with Rick Atkins from Ragtime Aero at the Placerville Airport. Rick has spent his whole life following his passion for aviation, and spends every day flying and restoring vintage aircraft.  By the time we landed, I knew I had to fly!</p>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class="my-md-3 mr-lg-5">
        <p>Just like my grandfather, when I showed interest, I found that the local pilots threw in behind me and did everything they could to help me get my wings. I really couldn’t have done it without their help. </p>
        <p>The idea for Heritage Flyers Foundation came after I took 93 year old WWII and Korean War Fighter Pilot, Jerry McCabe, up for a flight. Jerry was young again, flying that airplane. He hopped right in and the controls fell comfortably to his hands. He could hold the heading and altitude better than I could and soon he was asking where the trim wheel was, so he could really dial it in.  Seeing the joy that it brought Jerry to go flying, it was obvious we needed to do more!</p>
        <p>With the help of Rick Atkins, and many of the local pilots, we’ve been able to take Heritage Flyers from a dream to reality. We’ve had an amazing amount of support from the local community of pilots, and the response we’ve had helps us to believe we are on the right track in bringing a bit of happiness to people.</p>
      </div>
    </div>
</div>
