.gallery-image {
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: block;

  &.img-1 {
    background-image: url('/assets/gallery/resize/img-1-1024.jpg');
  }
  &.img-2 {
    background-image: url('/assets/gallery/resize/img-2-1024.jpg');
  }
  &.img-3 {
    background-image: url('/assets/gallery/resize/img-3-1024.jpg');
  }
  &.img-4 {
    background-image: url('/assets/gallery/resize/img-4-1024.jpg');
  }
  &.img-5 {
    background-image: url('/assets/gallery/resize/img-5-1024.jpg');
  }
  &.img-6 {
    background-image: url('/assets/gallery/resize/img-6-1024.jpg');
  }
  &.img-7 {
    background-image: url('/assets/gallery/resize/img-7-1024.jpg');
  }
}
