.page-section {
  &.mission {
    background: #F6F6F6;
  }
  &.hero-banner {
    background: #AFBBB3 url('/img/hero-banner.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 250px;
    min-height: 200px;

    @include media-breakpoint-up(md) {
      padding-top: 150px;
      min-height: 300px;
    }

    .row {
      min-height: 200px;

      @include media-breakpoint-up(md) {
        min-height: 300px;
      }
    }

    h1.hero {
      color: #FFFFFF;
      font-weight: 700;
      font-size: 2rem;
      border-bottom: 2px solid #fff;
      padding-bottom: 1rem;

      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }
    .subhead {
      font-size: .8rem;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
    }
  }
  &.get-ready-cta {
    background: #1A2932 url('/img/get-ready.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);

    h2 {
      color: #FFFFFF;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }
  &.event-date-cta {
    background: #9CA8B4 url('/img/event-date-cta.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);

    h2 {
      color: #FFFFFF;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }
  &.who-are-we {
    background: #76B9ED url('/img/who-are-we.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    padding-top: 250px;
    min-height: 200px;

    @include media-breakpoint-up(md) {
      padding-top: 150px;
      min-height: 300px;
    }


    .row {
      min-height: 200px;

      @include media-breakpoint-up(md) {
        min-height: 300px;
      }
    }

    .lead {
      font-weight: $font-weight-normal;
    }

    h2 {
      color: #FFFFFF;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }
}

footer {
  background: $gray-800;
  color: $gray-500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;

  .map {
    background: #76B9ED url('/img/map.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
  }
}

