<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Heritage Flyers Foundation</title>
<meta name="description" content="Heritage Flyers wants to bring the joy of flight to everyone of all ages. Our initial focus was Pilots and/or Veterans over 75, but now we’ve expanded to anyone over 70 interested in flying. Many older folks think that there aren’t any more adventures to be had, but we believe you are never too old to go adventuring!">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="unsafe-url">
<link rel="canonical" href="https://heritageflyers.com">
<link rel="icon" type="image/png" href="/favicon-16x16.png">
<meta property="og:site_name" content="Small Robot Co.">
<meta property="og:title" content="Heritage Flyers Foundation">
<meta property="og:url" content="https://heritageflyers.com">
<meta property="og:description" content="Heritage Flyers wants to bring the joy of flight to everyone of all ages. Our initial focus was Pilots and/or Veterans over 75, but now we’ve expanded to anyone over 70 interested in flying. Many older folks think that there aren’t any more adventures to be had, but we believe you are never too old to go adventuring!">
